version: '3'
services:
 elasticsearch:
  image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
  environment:
   - discovery.type=single-node
   - xpack.security.enabled=false
  ports:
   - "9200:9200"
